$primary-color: #3626a7;
$secondary-color: #caff8a;
$bg-color: #f5f5f5;

.projects {
  background-color: $bg-color;

  h2 {
    font-size: 4rem;
    font-weight: bold;
    color: $primary-color;
  }

  .project-container {
    background-color: white;
  }

  a {
    color: $primary-color;
    margin-right: 1rem;
  }
}
