$primary-color: #3626a7;
$secondary-color: #caff8a;
$text-color: #f5f5f5;

.experience {
  background-color: $primary-color;

  h3 {
    color: $secondary-color;
    font-size: 4rem;
  }

  color: $text-color;
}
