.App-header {
  background: #a3f1f7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ddc6e0, #a3f1f7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ddc6e0, #a3f1f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.circle {
  width: 70vh;
  height: 70vh;
  background: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
}

.intro {
  position: absolute;
  border: 1px solid red;
  top: 40%;
  left: 0;
  right: 0;
  padding-left: 10%;
}
/* container-sm bg-dark text-white position-absolute mx-5 */
